# These are required by the backend SDK
PASSWORDLESS_SECRET=<YOUR_PRIVATE_API_KEY> # Your private API key or secret.

# optional - provided for the example.
PASSWORDLESS_API_URL=https://v4.passwordless.dev # Setting is only required for self-hosting, otherwise leave default.
